@charset "utf-8";
/* CSS Document */
.px-1 {
    padding: 0px 3px;
}
.ptext {

margin-left: 15px;
}
.kskills .bootstrap-tagsinput{

width: 100% !important;

}
.profile-gap a:before {
   margin-right: 12px !important;

}
.page-sidebar .page-sidebar-menu>li.heading, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.heading {
    padding: 0px !important;
}
.page-sidebar .page-sidebar-menu>li, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li {
   
    margin: 11px 0px 0px 0px !important;
    
    
}


.plus { background: url('images/details_open.png') no-repeat center center !important; cursor: pointer;}
.minus { background: url('images/details_close.png') no-repeat center center !important; cursor: pointer;}
#sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#sortable li { margin:15px; padding:2px; font-size: 16px; background: #cedc98; border: 1px solid #DDDDDD; color: #333333; cursor:pointer;}

